;; shadow-cljs configuration
{:source-paths
 ["src"]


:dependencies [[hiccups "0.3.0"]
               [cider/cider-nrepl "0.50.2"] ;; mandatory (unless it's inherited from deps.edn or otherwise present in the classpath of shadow-cljs's JVM process)
               [refactor-nrepl/refactor-nrepl "3.9.0"]] ;; refactor-nrepl is optional

 :nrepl {:middleware [cider.nrepl/cider-middleware ;; it's advisable to explicitly add this middleware. It's automatically added by shadow-cljs (if available in the classpath), unless `:nrepl {:cider false}`
                      refactor-nrepl.middleware/wrap-refactor] ;; refactor-nrepl is optional
         :port 50655} 
 :builds
 {:app {:output-dir "../r_place_backend/resources/js/"
        :target :browser
        :devtools {:repl-init-ns place.core
                   :repl-pprint true
                   :autobuild false
                   :autoload false}
        :modules {:main {:init-fn place.core/load-page}}}}}
